html {
    margin: 0px;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.nav-container {
    background-color: #FF7F00;
    box-shadow: 10px 13px 42px -12px #FF7F00;
    width: 100%;
}

nav {
    margin-bottom: 2rem;
}

.nav-logo img {
    margin-inline-start: 3.125rem;
    width: 8.3125rem;
    height: 1.375rem;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-evenly-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-ul {
    width: 14.53125rem;
    margin-inline-end: 3.125rem;
    justify-content: flex-end;
}

.nav-ul li {
    width: 4.125rem;
    color: #FFFFFF;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding-right: 0.6875rem;
    border-right: 2px solid black;
    margin-inline-end: 16px;
    text-decoration: none;
}

li:last-child a {
    width: 4.125rem;
    color: #FFFFFF;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding-right: 0.6875rem;
    border-right: 2px solid black;
    margin-inline-end: 16px;
    text-decoration: none;

}

.nav-ul :hover {
    cursor: pointer;
}

.nav-ul li:last-child {
    margin-inline-end: 0px;
    border-right: 0px;
}

.pic-gallery img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 60px;
}

.main-container {
    max-width: 100%;
    height: 100%;
    background-color: #E3E3E3;
}

.gallery {
    padding: 0 3.125rem 0 3.125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    width: 100%;
}

#my-canvas {
    padding-bottom: 103px;
    padding-top: 26px;
    background-color: #E3E3E3;
}

.memes-generator .canvas-container {
    width: auto;
    height: auto;
}

.memes-generator .actions-on-meme {
    width: 500px;
    height: 500px;
}

.grid {
    display: grid;
    width: 50%;
    height: 50%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-gap: 10px;
    grid-template-areas:
        " input-txt input-txt input-txt input-txt input-txt"
        " show-line-number submit-btn btn-up btn-down ."
        " share-grid select-row-txt button-plus button-remove btn-form "
        " font-size-plus font-size-minus left-to-right center-txt right-to-left "
        " select-impcat select-impcat select-impcat fill-txt outline-color-txt "
}


#input-txt {
    grid-area: input-txt;
}
.share-grid{
    grid-area: share-grid;
}

.select-row-txt {
    grid-area: select-row-txt;
}

.button-plus {
    grid-area: button-plus;
}

.button-remove {
    grid-area: button-remove;
}

.font-size-plus {
    grid-area: font-size-plus;
}

.font-size-minus {
    grid-area: font-size-minus;
}

.left-to-right {
    grid-area: left-to-right;
}

.center-txt {
    grid-area: center-txt;
}

.right-to-left {
    grid-area: right-to-left;
}

.select-impact {
    grid-area: select-impcat;
}

.fill-txt {
    grid-area: fill-txt;
}

.show-line-number {
    grid-column: show-line-number;
}

.outline-color-txt {
    grid-area: outline-color-txt;
}

.btn-up {
    grid-area: btn-up;
}

.btn-down {
    grid-area: btn-down;
}
.submit-btn{
    grid-area: submit-btn;
}

.actions-on-meme input {
    height: 100%;
    width: 100%;
}

#input-txt input {
    font-size: 2rem;
}

.actions-on-meme input:hover {
    outline: none;
}
/* 
.actions-on-meme :nth-child(1) {
    border-radius: 20px;
} */

.actions-on-meme > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-form {
    display: flex;
    justify-content: center;
    align-items: center;
}


.actions-on-meme img {
    width: 4rem;
    height: 4rem;
    padding: 2px;
}

.button-generator {
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 10px 13px 42px -12px rgb(0 0 0);
}

.display-hide {
    display: none;
}

.main-about {
    margin: 0 3.125rem 0 3.125rem;
}

.all-about {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 77px;
    margin-left: 154px;
    margin-bottom: 166px;
    margin-right: 155px;
}

.about-txt {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.img-about {
    max-width: 20.1875rem;
    max-height: 20.1875rem;
}

.img-profile img {
    display: block;
    width: 323px;
    height: 323px;
    background: #E6E7ED;
    border-radius: 50%;
    background-image: url('img/img-about/Ari_Photo.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-inline-end: 2.5625rem;
}

.icon-img {
    width: 40px;
    height: 40px;
    margin-inline-end: 8px;
    margin-top: 65px;
}

.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icons :last-child {
    align-self: flex-end;
}

.icon-img img {
    padding: 7px;
    width: 40px;
    height: 40px
}

.icon-img {
    background-color: #FF7F00;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-footer {
    background-color: #FF7F00;
}

.footer-txt {
    flex-direction: column;
}

/* .footer-txt:last-child{
    padding-bottom: 73px;
}
.footer-txt:first-child{
    padding-top:78px
} */
.logo-footer {
    /* top | right | bottom | left */
    width: 8.3125rem;
}

.footer-txt img {
    margin: 78px 535px 73px 532px;
    width: 132px;
}

.show-line-number {
    grid-column: show-line-number;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-form {
    background: #FF7F00;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    padding: 5px 5px;
    border-radius: 3px;
    text-decoration: none;
  }

.btn-form-area {
    grid-area: btn-form;
    height: 100%;
    width: 100%;
}