

@media (max-width:720px) {
  .gallery {
      padding: 0 3.125rem 1rem 3.125rem;
  }
  
  #my-canvas {
      width: 325px;
      height: 325px;
  }

  .actions-on-meme input {
      height: 100%;
      width: 100%;
  }

  .actions-on-meme img {
      width: 2rem;
      height: 2rem;
      padding: 2px;
  }

  .memes-generator .actions-on-meme {
      width: 325px;
      height: 325px;
  }

  .grid {
      display: grid;
      width: 50%;
      height: 50%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 10px;
      grid-template-areas:
          " input-txt input-txt file-input file-input"
          " show-line-number submit-btn btn-up btn-down"
          " share-grid select-row-txt btn-form select-orientation"
          " left-to-right center-txt right-to-left outline-color-txt "
          " select-impcat select-impcat select-impcat fill-txt"
          " button-plus button-remove font-size-plus font-size-minus"
  }

  .nav-ul {
      display: none;
  }

  .mobile-menu-button {
      display: inline-block;
      margin-right: 5px;
  }

  .mobile-menu {
      background-color: #FF7F00;
      display: inline-block;
      position: fixed;
      top: 36px;
      right: 0;
      padding: 8px 16px;
      font-size: 1.25rem;
  }

  .mobile-menu-item {
      color: black;
      padding: 4px;
  }

  .mobile-menu-item a {
      text-decoration: none;
      color: black;
  }

  .mobile-menu.display-hide {
      display: none;
  }

  .mobile-menu-list {
      list-style: none;
      transition: 0.8ms;
  }

  .img-profile img {
      margin-inline-end: 0;
  }
  #input-txt input {
    font-size: 1.2rem;
}
.toggle-portrait #my-canvas {
  width: 200px;
  height: calc((200px/9)*16);
}
.toggle-landscape #my-canvas {
  width: 300px;
  height: calc((300px/16)*9);
}

}